<br>
<div class='intro-container pull-left'>
  <h1> Welcome to Blocitoff</h1>
  <p>Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %> or
      <%= link_to "Sign up now", new_user_registration_path, class: 'btn btn-primary btn-lg' %> today!
  </p>
</div>






<br>
<div class='app-info pull-right col-md-3'>
  <span class='glyphicon glyphicon-list pull-left' aris-hidden='true'></span><p>Sign up and add items to your tasks.</p>
  <span class='glyphicon glyphicon-time pull-left' aris-hidden='true'></span><p>You've got 7 days to complete an item, so get moving.</p>
</div>





  
 