<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Or路gan路i路za路tion</h2>
    <p>Blocitoff address the problem of to-do list clutter.</p>
  </div>
  <div class="col-md-4">
    <h2>Simplification </h2>
    <p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put-off.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p> Blocitoff will determine if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>
  </div>
</div>